<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        <img  class="sidebar-image"
              src="{{ site.baseurl }}/public/img/image.png"
        </img>
        <h1 href="{{ site.url }}">
          {{ site.title }}
        </h1>
        <!-- Burger-Icon -->
        <div class="b-container">
          <div class="b-menu">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
          </div>
        </div>
        <!-- Navigation -->
        <nav class="b-nav sidebar-nav">
          <h4>Blog</h4>
          <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Tous les articles</a>
          {% assign pages_list = site.pages %}
          {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page" %}
                  <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
            {% endif %}
          {% endfor %}
        </nav>
        <div class="sidebar-small">
          <small>
            {{ site.inscription }}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
